kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: a5d1a9ae50383d23bc71b425d1bf734c
      - identity: {}
